@model List<Practica20250318.AppWebMVC.Models.DetallesVenta>
@{
    Func<int, string, string> getName = (int index, string prop) =>
    {
        return String.Format("detallesVenta[{0}].{1}", index, prop);
    };
}
<table class="table">
    <tr>
        <td style="text-align:right" colspan="6">
            <button type="button" data-create onclick="addItemDetVenta()" class="btn btn-success">+</button>
        </td>
    </tr>
    <tr>
        <td>#</td>
        <td>Cantidad</td>
        <td>Producto</td>
        <td>Precio</td>
        <td>SubTotal</td>
        <td data-edit>Acciones</td>
    </tr>
    @if (Model != null && Model.Count > 0)
    {
        int index = 0;
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.NumItem
                        <input type="hidden" name="@getName(index,"NumItem")" value="@item.NumItem" />
                        <input type="hidden" name="@getName(index,"VentaId")" value="@item.VentaId" />
                        <input type="hidden" name="@getName(index,"Id")" value="@item.Id" />
                    </td>
                    <td>
                        <input type="number" data-disabled onchange="updateItemDetVenta()" style="max-width:100px" class="form-control" name="@getName(index,"Cantidad")" value="@item.Cantidad" />
                    </td>
                    <td>
                        @{
                            var productosSelect = new SelectList(ViewBag.Productos, "Id", "Nombre",item.ProductoId);
                        }
                        <select class="form-control" data-disabled name="@getName(index,"ProductoId")" asp-items="productosSelect"></select>
                    </td>
                    <td>
                        <input type="number" data-disabled onchange="updateItemDetVenta()" style="max-width:100px" class="form-control" name="@getName(index,"PrecioUnitario")" value="@item.PrecioUnitario" />
                    </td>
                    <td style="max-width:100px">
                        @item.Subtotal
                        <input type="hidden" name="@getName(index,"Subtotal")" value="@item.Subtotal" />
                    </td>
                    <td data-edit>
                        <button type="button" class="btn btn-danger"  onclick="deleteItemDetVenta('@item.NumItem')">Eliminar</button>
                    </td>
                </tr>
                index++;
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                @{
                    var totalFactura = @Model.Sum(s => s.Subtotal);
                }
                <td id="tdTotal" data-value="@totalFactura">$ @totalFactura </td>
            </tr>
        </tfoot>
    }
</table>